.login__form {
  direction: rtl;
  min-height: 444px;
  width: 388px;
  background-color: var(--neutral-white);
  border-radius: 16px;
  padding: 38px 24px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(50%);
  justify-self: center;
  text-align: right;
}
.login__form label {
  align-self: flex-start;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--neutral-dark-grey-1);
}
.login__form span {
  color: var(--system-red);
  font-size: 14px;
  margin-bottom: 12px;
  align-self: center;
  display: none;
}

.login__form span.show {
  display: block;
}
.login__form input {
  height: 40px;
  width: 100%;
  border: 1px solid var(--neutral-soft-grey-1);
  border-radius: 8px;
  padding: 0 12px;
  font-size: 16px;
  margin-bottom: 24px;
  background-color: var(--neutral-white);
  color: var(--neutral-dark-grey-1);
}
.login__form button {
  height: 48px;
  width: 100%;
  background-color: var(--primary-brand);
  color: var(--neutral-white);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login__form button:hover {
  opacity: 0.8;
}
