.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: white;
  border-radius: 16px;
  padding: 15px;
  width: 520px;
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: bold;
}

.close {
  background-color: none;
  width: 22px;
  height: 22px;
  background-image: url('/src/assets/svg/outline/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.message {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 24px;
  margin-bottom: 8px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.cancel,
.confirm {
  padding: 5px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s ease;
}
.cancel:hover,
.confirm:hover {
  opacity: 0.6;
}

.cancel {
  background: var(--neutral-white);
  border: 1px solid var(--neutral-soft-grey-1);
  min-width: 75px;
  min-height: 32px;
}

.confirm {
  background: var(--system-red);
  color: var(--neutral-white);
  border: none;
  min-width: 66px;
  min-height: 32px;
}

/* Mobile responsiveness */
@media (max-width: 790px) {
  .modal {
    justify-self: center;
    width: 412px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    gap: 0;
  }
  .close {
    width: 26px;
    background-image: url('/src/assets/svg/outline/line1.svg');
  }
  .header {
    font-weight: 500;
    flex-direction: column-reverse;
    font-size: 14px;
    gap: 9px;
  }
  .cancel,
  .confirm {
    width: 100%;
    max-width: 180px;
  }
}
