/* Layout container for all summary tables */
.summary__tables {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 1rem;
  flex-wrap: wrap;
}

/* Individual summary table block */
.table__section {
  flex: 1 1 300px;
  background-color: var(--neutral-white);
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.table__section h2 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

/* Table structure */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  text-align: center;
  padding: 0.8rem;
  border: 1px solid var(--neutral-light-grey);
}

table th {
  background-color: var(--neutral-soft-grey-2);
  font-weight: 600;
}

table td {
  direction: ltr;
  font-size: 1rem;
}

/* Remove last-row bottom border */
table tr:last-child td {
  border-bottom: none;
}

/* Rounded header corners */
table th.amount {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

table th.type {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 14px;
}

/* Color styling for table values */
.income {
  color: var(--system-green);
  word-break: break-all;
}

.expense {
  color: var(--system-red);
  word-break: break-all;
}
