.nav {
  margin: -1px;
  width: 100%;
  height: 64px;
  display: flex;
  direction: rtl;
  align-items: center;
  justify-content: space-between;
  background-color: var(--neutral-white);
  padding: 0 40px;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.item {
  flex: 0 1 auto;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  color: var(--neutral-dark-1);
  font-weight: 400;
  font-size: 14px;
  transition: 0.3s ease;
}
.item:hover {
  opacity: 0.6;
  cursor: pointer;
}
.item.active {
  background-color: var(--primary-brand);
  color: var(--neutral-white);
  transition: 0.5s ease;
}
.logout {
  margin-top: 0.5rem;
  transition: 0.3s ease;
}
.logout:hover {
  cursor: pointer;
  opacity: 0.6;
}
