.container {
  width: 100%;
  height: 280px;
  min-height: 0;
  min-width: 0;
}
.tooltip {
  background-color: var(--neutral-white);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
.label {
  margin: 0;
  font-weight: bold;
}
.key {
  margin: 4px 0;
}
