:root {
  /* Primary */
  --primary-light: #a0ccf8;
  --primary-dark: #57a4f2;
  --primary-brand: #0e33f3;

  /* Neutrals */
  --neutral-dark-1: #1f2933;
  --neutral-dark-2: #323f4b;
  --neutral-grey-1: #6b7580;
  --neutral-grey-2: #9ba1a8;
  --neutral-grey-3: #b0b8bf;
  --neutral-soft-grey-1: #d0cfe3;
  --neutral-soft-grey-2: #ebedf0;
  --neutral-soft-grey-3: #fafafb;
  --neutral-white: #ffffff;

  /* System */
  --system-red: #ef4e4e;
  --system-yellow: #fbbb4a;
  --system-green: #3ebd93;
  --system-blue: #37abff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  font-family:
    Vazir FD,
    sans-serif;
}
input[type='text'],
input[type='number'],
input[type='date'] {
  font-family:
    Vazir FD,
    sans-serif;
}

body {
  font-family:
    Vazir FD,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: auto;
  width: 100%;
  background-color: var(--neutral-soft-grey-2);
}
