.main {
  height: auto;
  width: 100%;
  background-color: var(--neutral-soft-grey-2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.loader__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
